*{
    box-sizing: border-box;
}



nav{
    padding: 0px 30px;
}


.container{
    
    width: inherit;
    height: inherit;
    background-color: antiquewhite;
}

.logo{
    float: left;
}

.logo:hover{
    opacity: 25%;
}

.navbar{
    display: inline-block;
    padding: 18px;
}

.navbar ul{
    display: inline-block;
    padding-left: inherit;
}


.navbar li{
    display: inline-block;
}

.search a{
    box-sizing: border-box;
    width: 16px;
    height: 8px;
}

.inputsearch{
    width: 224px;
    height: 36px;
    border-radius: 16px;
}

.navbar ul li a{
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 24px;
    text-decoration: solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

}

.navbar ul li a:hover{
    background-color: rgba(144, 241, 212, 0.945);
    animation-delay: 1.5s;
    
}


body{
    background-color: peachpuff
}

button{
    width: 104px;
    height: 29px;
    border-radius: 16px;
}

button:hover{
    background-color: orange;
}

.containerbigbox{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-grow: inherit;
    align-content: space-evenly;
    width: 100%;
    height: fit-content;
    background-color: lightcoral;

}

.containerleftbox{
    width: 70%;
    height: fit-content;
}

.containerrightbox{
    margin-top: 40%;

    width: 36%;
    height: 25%;
    top: 10px;
    position: fixed;
    bottom: 25%;
    margin-left: 54%;
    
}

#mycart{
    font-size: 24px;
    font-weight: 700;
}

.container{
    background-color: inherit;
    width: inherit;
    height: inherit;
    background-color: rgb(241, 218, 198);

}

.containersidebar{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 30px;


}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

}

.sidebar{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.734);
    
    margin-left: 20px;
    padding: 15px;
    text-align: center;

}

.foot{
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: peachpuff
}

.row_2{
    display: flex;
    flex-wrap: nowrap;
    background-color: peachpuff;
    display: flex;
    width: 90%;
    height: fit-content;
    
}

.row-9{
    display: flex;
    width: 100%;
    height: fit-content;
}



.col-1{
    padding: 140px;
    padding-left: 15%;
    min-width: 320px;
    padding-top: 210px;
    
}

.col-1 h3{
    font-size: 38px;
    line-height: inherit;
}

.col-2{
    width: 100%;
    height: fit-content;
    flex-basis: 140%;
    min-width: 320px;
    padding: 8px;
    float: right;
    padding-left: 16%;
    padding-top: 2px;
}

.col-2 img{
    max-width: 150%;
    padding: 16px 0;
    
}

.col-5{
   
    min-width: 320px;
    padding: 8px;
    float: right;
    padding-left: 6%;
    padding-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

.watchimage{
    width: 90%;
    height: 400px;
    background-image: url('./images/samsung_watch_4.png');
    background-color: black;
    background-repeat: no-repeat;
    backface-visibility: visible;
}

.col-3 {
    max-width: 270px;
    max-height: 390px;
    margin-left: 10px;
    margin: 14px;
    padding: 40px 80px 40px;
    padding-left: 180px;
    
}

.col_4{
    width: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: space-around;
    flex-basis: 25%;
    padding: 6px 5px 10px;
    min-width: 100px;

}

.col_4 p{
    font-size: 16px;
}

.small-container-3{
    display: flexbox;
    padding-top: 65px;
    padding-bottom: 28px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgb(182, 235, 182);
}

.testimonial{
    width: 100%;
    height: fit-content;
}

.offers{
    width: 100%;
    height: fit-content;
}

.offer{
    width: 100%;
    height: fit-content;
}



.col-7{
    width: 100%;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
    font-style: italic;
    font-weight: 570;
    
}

.col-7:hover{
    transform: translateY(-5px);
}

.col-8{
    width: 50%;
    font-size: 21px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
    font-style: italic;
    font-weight: 700;
    
}

.col-8:hover{
    transform: translateY(-5px);
}

.col-8 img{
    border-radius: 50%;
}   

.col-11{
    background-image: url('./images/adidas-Tshirt.jpg');
    width: 40%;
    height: 440px;
    background-size: 100%;
    background-repeat: no-repeat;
}


.col-12{
    background-image: url('./images/adidas-National-2.0-Black-Backpack-_342449-front-US.webp');
    width: 40%;
    height: 440px;
    background-size: 100%;
    background-repeat: no-repeat;

}

.col-13{
    background-image: url('./images/adidas-men-ice-dive-edt-100-ml_2_display_1472908060_c6f1cbe5.webp');
    width: 40%;
    height: 440px;
    background-size: 100%;
    background-repeat: no-repeat;

}

.btn-explore{
    display: inline-block;
    background-color: orange;
    color: black;
    margin: 10px;
    padding: 6px 28px;
    border-radius: 26px;
    font-size: 19px;
    width: 210px;
    height: 60px;
}

.btn-explore:hover{
    background-color: rgb(254, 246, 8);
    
}

.btnjavascript{
    font-size: 10px;
}

header{
    margin: 2px;
}

.footer{
    width: inherit;
    height: 340px;
    background-color: rgb(250, 246, 215);
    
    padding: 60px 0px 60px;
    display: flex;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: black;
    margin-bottom: 20px;

}

.row-12{
    font-size: 18px;
    display: flex;
    width: 100%;
    height: fit-content;
}

.footer-col-1{
    padding: 1% 1% 1% 1%;
    font-style: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

ul{
    list-style: none;
}
 
.container-5{
    display: flex;
}

.categories{
    width: 100%;
    height: fit-content;
    margin: 4%;
    margin-bottom: 20px;
    
    padding-left: 0px;
    background-color: inherit;
    padding-top: 10px;
    padding-bottom: 40px;

}


.small-container{
    max-width: 100%;
    height: fit-content;
    margin: auto;
    padding-left: 5%;
    background-color: inherit;
}

.small-container-2{
    max-width: 100%;
    padding-top: 80px;
    align-items: center;
    padding-left: 125px;
    margin: 10px 0;
    background-color: lightcoral;
}

.col_4:hover{
    transform: translateY(-5px);
}

.featured-products{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0px 0px 0px;
    margin: 4px;
    
}

.featured-products-2{
    display: flex;
    max-width: 100%;
    padding: 0px 0px 0px;
    margin: 4px;
    flex-basis: 25%;
    padding-bottom: 80px;
}

.row-10{
    width: 50%;
}

.col-9{
    width: 50%;
}

.col-9 tr td{
  
    min-width: 60px;
    
    height: 40px;
    font-size: 26px;
}

.loaditemsmain{
   display: grid;
   flex-wrap: wrap;
   align-items: center;
   justify-items: center;
   
}

.loaditemsmain ul{
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
    align-items: center;
    justify-items: center;
    
}

.loaditemsmain ul li{
    display: inline-block;
    margin-right: 10px;
    align-items: center;
    justify-items: center;
    
}

.loaditemscol-2{
    align-items: center;
    -ms-flex-align: center;

}